@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
body{
  display: flex;
  font-family: 'Acme', sans-serif;
  height: 50vh;
  background-color: rgba(142, 43, 142, 0.677);
  justify-content: center;
}
